name: CI/CD -- Tests

on:
  push:
    branches: [ "dev"]
  pull_request:

jobs:
  tests:
      runs-on: ubuntu-latest

      services:
        peripanda_db:
          image: 'postgres:12'

          env:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: defaultdb

          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
          ports:
            - 5432:5432
    
      strategy:
        matrix:
          node-version: [12.22.0]

      steps:
        - name: Checkout Code Repository
          uses: actions/checkout@v2
        
        - name: Set up NodeJs
          uses: actions/setup-node@v2
          with:
            node-version: ${{ matrix.node-version }}
            cache: 'npm'
            
        - name: Install dependencies
          run: npm install
          
        # - name: Env
        #   run: cp .env.example .env

        - name: Run tests
          -run : npm run test
